html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'WixMadeforDisplay', sans-serif;
  color: var(--black, #202021);
  background: var(--white, #fff);
  scrollbar-color: var(--blue, #0056FE) transparent;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1580px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1580px;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  margin-bottom: 150px;
}

h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.body-l-r {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.body-l-m {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.body-l-b {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.body-m-r {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.body-m-m {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.body-m-b {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.body-s-r {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.body-s-b {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.text-grad {
  background-color: var(--blue, #0056FE);
  background-image: var(--grad-2, linear-gradient(112.17deg, #39C7EC 3.35%, #39C7EC 3.36%, #0050EC 97.39%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 30px;
  background: var(--blue, #0056FE);
  border: 1px solid var(--blue, #0056FE);
  border-radius: 10px;
  color: var(--white, #fff);
  transition: all 0.3s ease;
}

.btn-blue:hover {
  background: transparent;
  color: var(--black, #202021);
}

.btn-blue:active {
  background: var(--white, #fff);
  border-color: var(--white, #fff);
  color: var(--black, #202021);
}

.btn-dark-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 30px;
  background: var(--dark-blue, #00308E);
  border: 1px solid var(--dark-blue, #00308E);
  border-radius: 10px;
  color: var(--white, #fff);
  transition: all 0.3s ease;
}

.btn-dark-blue:hover {
  background: var(--white3, #DCE3EC);
  border-color: var(--blue2, #2C8AFD);
  color: var(--black, #202021);
}

.btn-dark-blue:active {
  background: var(--grey2, #C3CBD0);
  border-color: var(--grey2, #C3CBD0);
  color: var(--black, #202021);
}

.btn-white {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 52px;
  background: var(--white, #fff);
  border: 1px solid var(--white, #fff);
  border-radius: 10px;
  color: var(--black, #202021);
  transition: all 0.3s ease;
}

.btn-white:hover {
  background: var(--white3, #DCE3EC);
  border-color: var(--white3, #DCE3EC);
}

.btn-white:active {
  background: var(--grey2, #C3CBD0);
  border-color: var(--grey2, #C3CBD0);
}

.dropdown {
  &.dropdown-active {
    color: var(--blue, #0056FE);

    span::before {
      background: var(--blue, #0056FE);
      transform: rotate(-45deg);
    }

    span::after {
      background: var(--blue, #0056FE);
      transform: rotate(45deg);
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
  }

  span::before {
    content: "";
    width: 2px;
    height: 8px;
    border-radius: 1px;
    background: var(--black, #202021);
    transform: rotate(45deg);
    position: absolute;
    left: 8.8px;
    transition: all 0.3s ease;
  }

  span::after {
    content: "";
    width: 2px;
    height: 8px;
    border-radius: 1px;
    background: var(--black, #202021);
    transform: rotate(-45deg);
    position: absolute;
    right: 8.8px;
    transition: all 0.3s ease;
  }

  &:hover span::before,
  &:hover span::after {
    background: var(--blue, #0056FE);
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 43px;
  height: 43px;
  background: transparent;

  span {
    display: flex;
    gap: 7px;

    &::before {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      background: var(--grad-1, linear-gradient(90deg, #0056FE 0%, #19BFEA 100%));
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      background: var(--grad-1, linear-gradient(90deg, #0056FE 0%, #19BFEA 100%));
      transition: all 0.3s ease;
    }
  }

  &.active {

    span:first-child {

      &::before {
        position: relative;
        top: 5.5px;
        left: 4px;
        width: 32px;
        height: 4px;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(180deg) translateX(20px);
        width: 0;
        height: 0;
      }
    }

    span:last-child {

      &::before {
        position: relative;
        top: -5.5px;
        left: 4px;
        width: 32px;
        height: 4px;
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(180deg) translateX(20px);
        width: 0;
        height: 0;
      }
    }
  }
}

.mob-menu {
  display: block;
  transform: translateX(110%);
  position: absolute;
  top: 90px;
  z-index: 999;
  width: calc(100% + 30px);
  min-height: calc(100vh - 90px);
  height: 100%;
  margin-left: -15px;
  background: var(--white, #fff);
  visibility: hidden;
  transition: transform .3s, visibility .3s;
  will-change: transform;
  overflow-y: auto;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px 15px 30px;
  }

  &__title {
    width: fit-content;
    margin-bottom: 20px;
    background-color: var(--blue, #0056FE);
    background-image: var(--grad-2, linear-gradient(112.17deg, #39C7EC 3.35%, #39C7EC 3.36%, #0050EC 97.39%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-link {
      color: inherit;
    }
  }
}

.mob-menu.active {
  transform: translateX(0);
  visibility: visible;
}

.slider {

  &__btns {
    display: flex;
    gap: 27px;
    margin-top: auto;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 56px;
    height: 56px;
    background: var(--white2, #EFF1F7);
    box-shadow: -5px -5px 18px rgba(255, 255, 255, 0.9), -3px -3px 10px #FFFFFF, 3px 3px 10px rgba(210, 218, 227, 0.5), 5px 5px 20px rgba(200, 212, 223, 0.8);
    border-radius: 8px;

    &:hover {
      box-shadow: inset -3px -4px 6px #FFFFFF, inset -2px -3px 6px rgba(136, 165, 191, 0.3), inset 2px 2px 12px rgba(136, 165, 191, 0.6);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.swiper-pagination {
  position: relative;
  width: fit-content !important;
  top: unset !important;
  bottom: unset !important;
  right: unset !important;
  left: unset !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: var(--white, #fff);
  opacity: 1;
  position: relative;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  border-radius: 100%;
  box-shadow: none;
  position: relative;
  background: var(--blue, #0056FE);
  transition: all 0.3s ease;

  &::before,
  &::after {
    border-radius: 100%;
  }
}

.autoplay-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.line-col {
  width: 1px;
  height: 80px;
  background-color: var(--white, #fff);
  opacity: 0.5;
}

.line-row {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #DEE3F2;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.modal__box {
  position: relative;
  max-width: 550px;
  padding: 75px;
  z-index: 1;
  margin: 30px 15px;
  background-color: var(--white, #fff);
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform .2s;
  display: flex;
  flex-direction: column;
  gap: 40px;
  isolation: isolate;
  border-radius: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      display: block;
      width: 28px;
      height: 1px;
      background: var(--black, #202021);
      opacity: 0.2;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: -4px;
    }

    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 1px;
      background: var(--black, #202021);
      opacity: 0.2;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
      left: -4px;
    }
  }
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.callback__form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    border: 1px solid #A3ABC3;
    border-radius: 10px;
    padding: 20px;
  }

  input::placeholder {
    color: #A3ABC3;
  }

  button {
    width: 100%;
  }

  p {
    text-align: center;
    color: #A3ABC3;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: #0056FE;
  border-radius: 50%;
  border: 2px solid #0056FE;
}

*::-webkit-scrollbar-track {
  background: transparent;
}