:root {
    --white: #FFFFFF;
    --white2: #EFF1F7;
    --crayola: #DCE3EC;
    --crayola2: #D5DDE5;
    --grey: #636469;
    --grey2: #C3CBD0;
    --black: #202021;
    --blue: #0056FE;
    --blue2: #2C8AFD;
    --dark-blue: #00308E;
    --aqua: #19BFEA;
    --turquoise: #A6E4F4;
    --grad-1: linear-gradient(90deg, #0056FE 0%, #19BFEA 100%);
    --grad-2: linear-gradient(112.17deg, #39C7EC 3.35%, #39C7EC 3.36%, #0050EC 97.39%);
    --grad-3: linear-gradient(118.06deg, #FFFFFF 0%, #FFFFFF 0.02%, #C9E5F5 165.23%);
}