.footer {
  background-color: var(--blue, #0056FE);
  padding: 100px 0 40px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 140px;
    height: 482px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    color: var(--white, #fff);
  }

  &__logo {
    display: block;
    width: 160px;
    height: auto;
    flex-shrink: 0;

    &-img {
      width: 100%;
      height: auto;
      aspect-ratio: 160/73;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 23px;

    &-links {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }

    &-link {
      font-family: 'Abel', sans-serif;
      color: inherit;
    }
  }

  &__list {
    column-count: 2;
    column-gap: 103px;

    &-item {
      margin-bottom: 30px;
    }

    &-link {
      color: inherit;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    &-tel {
      color: inherit;
      margin-bottom: 40px;

      h4 {
        line-height: 100%;
      }
    }

    &-email {
      font-family: 'Abel', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      color: inherit;
      margin-bottom: 20px;
    }

    &-address {
      font-family: 'Abel', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;
      color: inherit;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: var(--white, #fff);
    opacity: 0.5;
    padding-top: 25px;
    border-top: 1px solid var(--white, #fff);

    &-link {
      color: inherit;
    }
  }

  &__deus {
    display: flex;
    align-items: flex-end;
    gap: 7px;

    span {
      margin-bottom: 1px;
    }

    a {
      display: block;
      width: 49px;
      height: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
      aspect-ratio: 49/20;
    }
  }
}