<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <a class="footer__logo" href="/">
          <img class="footer__logo-img" src="images/logo-footer.svg" alt="" loading="lazy">
        </a>
        <div class="footer__menu">
          <h4>
            Продукты
          </h4>
          <div class="footer__menu-links">
            <a class="footer__menu-link body-l-r" href="#!">
              Продажи на маркетплейсах
            </a>
            <a class="footer__menu-link body-l-r" href="#!">
              Интернет-магазин
            </a>
            <a class="footer__menu-link body-l-r" href="#!">
              Нишевые маркетплейсы
            </a>
            <a class="footer__menu-link body-l-r" href="#!">
              Шина данных
            </a>
          </div>
        </div>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>Платформа</h4>
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>Кейсы</h4>
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>Партнёрам</h4>
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>Блог</h4>
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>О компании</h4>
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#!">
              <h4>Контакты</h4>
            </a>
          </li>
        </ul>
        <div class="footer__contacts">
          <a class="footer__contacts-tel" href="tel:+71211210222">
            <h3>+7 121 121 02 22</h3>
          </a>
          <a class="footer__contacts-email" href="mailto:post@mail.ru">post@mail.ru</a>
          <p class="footer__contacts-address">Одинцово, ул. Молодежная, 46</p>
        </div>
      </div>
      <div class="footer__bottom">
        <p>© 2023, Quipu</p>
        <a class="footer__bottom-link" href="#!">Политика конфиденциальности</a>
        <div class="footer__deus">
          <span>Разработка</span>
          <a href="/">
            <svg>
              <use xlink:href="images/sprite.svg#icon-deus"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<div class="modal" id="callback">
  <div class="modal__box">
    <button class="modal__close-btn">
      <span></span>
    </button>
    <p class="title">Свяжитесь с нами</p>
    <form class="callback__form" action="">
      <input class="body-m-b" type="text" name="name" placeholder="Имя">
      <input class="body-m-b" type="tel" name="tel" placeholder="Телефон">
      <input class="body-m-b" type="email" name="email" placeholder="Email">
      <button class="body-m-b btn-blue" type="submit">Отправить</button>
      <p class="body-s-r">Нажимая «Отправить» вы соглашаетесь с Политикой конфиденциальности</p>
    </form>
  </div>
</div>

<script defer src="libs/inputmask.min.js"></script>
<script defer src="libs/swiper/swiper-bundle.min.js"></script>
<script defer src="js/main.js"></script>
</body>

</html>